@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }
@*//@model AgentPortal.ViewModels.Agent.Agent;*@
@model AgentPortal.ViewModels.Agent.AgentListViewModel
    <h2>View Agent</h2>
    <br />
    <br />

    <form method="post" action="/home/Agent/@Model.Agent">
        <p class="agent">
            Agent Code: @Model.Agent.AgentCode<br />
            Agent Name: @Model.Agent.AgentName<br />
            Agent Commission: @Model.Agent.Commission<br />
            Agent Phone Number: @Model.Agent.PhoneNumber<br />
            Working Area: @Model.Agent.WorkingArea<br />
        </p>
        <br />
        <br />
        @*@Html.HiddenFor(m => m.Agent.AgentCode)*@
        <input type="hidden" name="agentCode" value="@Model.Agent.AgentCode" />
        <button id="btnDelete" type="submit">Delete</button><br />
        <a href="/Home/EditAgent/@Model.Agent.AgentCode">Edit Agent</a>
    </form>




