@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*//@model AgentPortal.ViewModels.Agent.Agent;*@
@model AgentPortal.ViewModels.Agent.AgentListViewModel

<p>
   Agent Code: @Model.Agent.AgentCode<br />
   Agent Name: @Model.Agent.AgentName<br/>
   Agent Commission: @Model.Agent.Commission<br/>
   Agent Phone Number: @Model.Agent.PhoneNumber<br/>
   Working Area: @Model.Agent.WorkingArea<br/>
</p>




