@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@model AgentPortal.ViewModels.Agent.AgentViewModel*@

<h2>Edit Agent Form</h2>
<br />
<br />
<form method="post" action="/home/EditAgent/@Model.Agent">
    <table>
        <tr><td> Agent Code </td>         <td><input type="text" name="AgentCode" value="@Model.Agent.AgentCode" /></td></tr>
        <tr><td> Agent Name </td>         <td><input type="text" name="AgentName" value="@Model.Agent.AgentName" /></td>
        </tr><tr><td> Phone Number </td>  <td><input type="tel" name="PhoneNumber" value="@Model.Agent.PhoneNumber" /></td>
        </tr><tr><td> Working Area </td>  <td><input type="text" name="WorkingArea" value="@Model.Agent.WorkingArea" /></td>
        </tr><tr><td> Commission </td>    <td><input type="number" min="0" max="1" step="any" name="Commission" value="@Model.Agent.Commission" /></td></tr>
    </table>
    <br /><br />
    <button type="submit">Save</button>

</form>

<!--
    Questions:
   We're supposed to be able to use the same form for a post and a get; why am I getting an error in the Controller class when I have the tags indicating that one EditMethod is for a post and one for a get,
    and in both cases I want to pass an Agents object along
    Do I need to have to different forms for each verb?
    - How do I pass the Agent from the Agent page to this page? It's not recognizing it when I pass it in the '

-->